services:
  torrent-manager:
    image: ghcr.io/Mooky0/docker-stopper:latest
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always